header(){
    position: fixed;
    left 0
    top: 0
    width: 100vw;
    height:1.2rem;
    background-color: #00a2ed;
    box-shadow: 1px 1px 1px #00a2ed;}

tubian(){
        display inline-block
        
        line-height 1.2rem
        color white
}
banner_t(){
    padding: 0 0.2rem;
    font-size: 0.35rem;
    line-height: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 0.45rem;
    color: white;
}


shouye(){
    background: $navColror;
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 0.3rem;
    color: $parbgc;
    font-weight: 400;
}

spanspan(){
    margin-left: 0.46rem;
    margin-right: 0.18rem;
    font-size: 0.33rem;
}



